{% include "header.html" %}
            <!-- Page Content Start -->
            <!-- ================== -->

            <div class="wraper container-fluid">
                <div class="page-title"> 
                    <h3 class="title">Change Password</h3> 
                </div>

                <div class="row">                  
                    <!-- Horizontal form -->
                    <div class="col-md-10">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <input type="hidden" class="custom_ss_username" value="{{user.id}}">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Old Password</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control custom_ss_password" name="old_password">
                                        </div>								
                                    </div>							
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">New Password</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control custom_ss_new_password" name="new_password">
                                        </div>
                                    </div>									
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Confirm Password</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control custom_ss_confirm_password" name="confirm_password">
                                        </div>
                                    </div>
                                    <div class="form-group m-b-0">
                                        <div class="col-sm-offset-3 col-sm-3">
                                          <a href="#"><button type="button" class="btn btn-info custom_ss_modify_password">Save</button></a>
                                        </div>
                                    </div>
                                </form>
                            </div> <!-- panel-body -->
                        </div> <!-- panel -->
                    </div> <!-- col -->

                </div> <!-- End row -->

            </div>
            <!-- Page Content Ends -->
            <!-- ================== -->

           {% include "footer.html" %}



        </section>
        <!-- Main Content Ends -->


    </body>
</html>
